<template name="insertModal">
    {{#afModal classes="btn" placeholder="true" operation='insert'
        collection = collection  title = title buttonContent = saveBtn
        template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
        <span class="input-group-btn">
            <button type="button" class="btn btn-group-lg btn-info" id ={{buttonId}}>
                <i class="fa fa-plus"></i> {{buttonText}}
            </button>
        </span>
    {{/afModal}}
</template>