<head>
    <meta charset="utf-8">
    <title>HelpFull</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD_Z-QCIZackm01D9lMOJ0NmDBpaRR-3wM"></script>
</head>
