<template name="users">
    {{#if Template.subscriptionsReady}}
        {{> pageHeading title = usersTitle }}

        <div class="wrapper-content animated fadeInRight">
            <div class="row project-list">
                <table class="table table-hover">
                    {{> tabular table=TabularTables.usersTable
                        class="table table-striped table-condensed"}}
                </table>
            </div>
        </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>