<template name="pageHeading">
    {{#if Template.subscriptionsReady}}
        <div class="row border-bottom white-bg page-heading">
            <div class="col-md-4">
                <ol class="breadcrumb">
                    <li>
                        <a href="{{pathFor route=home}}">{{homeTitle}}</a>
                    </li>
                    {{#with category}}
                    <li>
                        <a href="{{pathFor route=path}}">{{title}}</a>
                    </li>
                    {{/with}}
                    <li class="active">
                        <strong>{{title}}</strong>
                    </li>
                </ol>
            </div>

            {{#with floatingBtn}}
                <div class="col-md-2 pull-right flip">
                    {{> insertModal }}
                </div>
            {{/with}}

        </div>
    {{/if}}
</template>