<template name="contacts">
    {{> pageHeading title=title floatingBtn=createContact }}
    {{#if Template.subscriptionsReady}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row project-list">
                <table class="table table-hover">
                    {{> tabular table=TabularTables.contactsTable
                        class="table table-striped table-condensed" }}
                </table>
            </div>
        </div>
    {{else}}
        {{> loading}}
    {{/if}}

</template>