<template name="task">

    <li class="{{task_borders_color}}" id="{{_id}}">
        <a href="{{pathFor '/tasks/:taskId' taskId=_id}}">
            <div class="drag-task-item">
                <strong>{{title}}</strong>
                <!--{{> deleteModal collection = 'Tasks' btnClass='btn-small-header pull-right' doc = _id }}-->
                {{> editModal collection = 'Tasks' btnClass='btn-small-header pull-right' doc = _id }}
                <div class="center-block agile-detail">
                    {{#if is_urgent}}
                        <span class="pull-left flip label label-danger">
                            {{_ "team_kanban_page.is_urgent_tag"}}
                        </span>
                    {{/if}}
                    {{#if need_assistance_id}}
                        <!--<a class="pull-left flip" href="pathFor '/profile/:userId' userId=need_assistance_id">-->
                            <span class="pull-right flip">
                                {{ contactName need_assistance_id}}
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                    {{/if}}
                    {{#if due_date}}
                        <span>
                            <i class="fa fa-clock-o text-warning" aria-hidden="true"></i>
                            {{moCalendar due_date}}
                        </span>
                    {{/if}}
                    {{>taskDetailsModal}}
                </div>
            </div>
        </a>
    </li>

</template>