<template name="taskCommentItem">
    <div class="vertical-timeline-block">
        {{#with user created_by}}
            <div class="vertical-timeline-icon gray-bg">
                <a class="text-info" href="{{pathFor '/profile/:userId' userId=_id}}">
                    <img alt="team member" class="comment-small-avatar" src="{{profile.picture}}" />
                </a>
            </div>
        {{/with}}
        <div class="vertical-timeline-content">
            {{#with user created_by}}
                <a class="text-info" href="{{pathFor '/profile/:userId' userId=_id}}">
                    {{ profile.name }} :
                </a>
            {{/with}}
            <p>{{text}}</p>
            <span class="vertical-date small text-muted"><i class="fa fa-clock-o"></i> {{moCalendar created_at}} </span>
        </div>

    </div>
</template>