<template name="deleteModal">
    {{#quickRemoveButton collection=collection _id=doc onError=onError
    onSuccess=onSuccess beforeRemove=beforeRemove class=btnClass}}
        <i class="fa fa-times" style="color:darkred;"></i>
    {{/quickRemoveButton}}
</template>