<template name="boards">
    {{#if Template.subscriptionsReady}}
        {{> pageHeading title=boardsTitle }}

        <div class="wrapper wrapper-content animated fadeInRight">
            {{#each boards}}
                {{> board}}
            {{else}}
                <h3>{{_ "boards_page.no_teams"}}</h3>
            {{/each}}
        </div>

    {{else}}
        {{> loading}}
    {{/if}}
</template>