<template name="intro">
    <div class="animated fadeIn" id="intro" data-vide-bg="video/clouds" >
        <div id="intro-site-logo" class="text-center">
            <div class="pulse">
                <img alt="logo HelpFull" src="/img/intro-logo.png">
                <h1>
                    {{_ "home_page.header"}}
                </h1>
            </div>
            <a href="{{pathFor route='/'}}" class="float down-btn" style="margin-top: 100px;">⇣</a>
        </div>
    </div>
</template>
