#intro {
    /* background cover video */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background: url(/video/ocean.jpg) no-repeat center center;*/
    background-size: cover;
}

#intro video {
    /*!* you won't see this element in the html, but it will be injected using js *!*/
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
}

#intro-site-logo {
    position: absolute;
    z-index: 2;
    /* center the svg inside its parent */
    left: 50%;
    top: 50%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    bottom: auto;
    right: auto;
    /*background: rgba(49, 7, 7, 0.49);*/
    transform: translateX(-50%) translateY(-50%);
}

.float {
    animation: float 4s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes float {
    0% { transform: translateY(0) }
    25% { transform: translateY(-12px) }
    50% { transform: translateY(0) }
    100% { transform: translateY(0) }
}

.down-btn {
    -moz-box-shadow: 0px 10px 20px -6px #cf866c;
    -webkit-box-shadow: 0px 10px 20px -6px #cf866c;
    box-shadow: 0px 10px 20px -6px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:31px;
    -webkit-border-radius:31px;
    border-radius:31px;
    border:2px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:28px;
    font-weight:bold;
    padding:18px 15px;
    text-decoration:none;
    text-shadow:-1px 4px 6px #854629;
}
.down-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}
.down-btn:active {
    position:relative;
    top:1px;
}

.pulse {
    animation: pulse 4s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes pulse {
    0% { transform: scale(1.1) }
    25% { transform: scale(0.8) }
    50% { transform: scale(1.1) }
    100% { transform: scale(1.1) }
}
