<template name="teamKanban">
    {{#if Template.subscriptionsReady}}
    {{> pageHeading category=kanbanCategory floatingBtn=createTask title=team.name }}

    <div class="wrapper wrapper-content animated fadeIn">
        <p class="small text-center">
            <i class="fa fa-hand-o-up"></i> {{_ "team_kanban_page.drag_text"}}
        </p>
        <div id="team-kanban" class="row">
            {{#each kanbanBoardLists team}}
                {{> kanbanListItem }}
            {{/each}}
        </div>

    </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>