<template name="nav">
    {{#if subsReady}}
    <nav class="navbar-default navbar-static-side" role="navigation">

        <div class="sidebar-collapse">
            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->
            {{#with currentUser}}
            <ul class="nav" id="side-menu">
                <li class="nav-header text-center" >
                    <div class="dropdown profile-element">
                        {{#if profile.picture}}
                            <span>
                               <img alt="profile" class="small-avatar img-circle" src="{{profile.picture}}">
                            </span>
                        {{/if}}
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                             <span class="text-muted text-xs block">
                                 <h3>{{profile.name}} <b class="caret"></b></h3>
                             </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li>
                                <a href="{{pathFor '/profile/'}}">
                                    <!-- Contact Card icon by Icons8 -->
                                    <img class="fa" src="/icons/contact_card-24.png" width="20">
                                    <span>{{_ "profile_page.title"}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        <img alt="logo HelpFull" width="100%" height="auto" src="/img/small-logo.png">
                    </div>
                </li>
                <li class="{{isActiveRoute regex='home'}}">
                    <a href="{{pathFor route='home'}}">
                        <!-- Home icon by Icons8 -->
                        <img class="fa" src="/icons/home-26.png" width="20">
                        <span class="nav-label">{{_ "home_page.title"}}</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='kanban'}}">
                    <a href="{{pathFor route='/kanban'}}">
                        <!-- Tasks Filled icon by Icons8 -->
                        <img class="fa" src="/icons/tasks_filled-25.png" width="18">
                        <span class="nav-label">{{_ "kanbans_page.title"}}</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='contacts'}}">
                    <a href="{{pathFor route='/contacts'}}">
                        <!-- Contacts icon by Icons8 -->
                        <img class="fa" src="/icons/contacts-24.png" width="20">
                        <span class="nav-label">{{_ "contacts_page.title"}}</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='teams'}}">
                    <a href="{{pathFor route='/teams'}}">
                        <!-- User Groups icon by Icons8 -->
                        <img class="fa" src="/icons/groups-26.png" width="20">
                        <span class="nav-label">{{_ "teams_page.title"}}</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='requests'}}">
                    <a href="{{pathFor route='/requests'}}">
                        <!-- Online Support icon by Icons8 -->
                        <img class="fa" src="/icons/online_support-24.png" width="22">
                        <span class="nav-label">{{_ "requests_page.title"}}</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='users'}}">
                    <a href="{{pathFor route='/users'}}">
                        <!-- User Group Man Man icon by Icons8 -->
                        <img class="fa" src="/icons/group-24.png" width="20">
                        <span class="nav-label">{{_ "users_page.title"}}</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='about'}}">
                    <a href="{{pathFor route='/about'}}">
                        <!-- Volunteering icon by Icons8 -->
                        <img class="fa" src="/icons/volunteering-32.png" width="20">
                        <span class="nav-label">{{_ "about_page.title"}}</span>
                    </a>
                </li>
            </ul>
            {{/with}}
        </div>
        <a class="text-center" style="font-size: 0.4em; color: floralwhite" href="https://icons8.com">Icon pack by Icons8</a>
    </nav>

    {{/if}}


</template>