<template name="masterLayout">

    <!-- Wrapper-->
    <div id="wrapper" class="gray-bg">

        <!-- Navigation -->
        {{> Template.dynamic template=nav}}

        <!-- Page wrapper -->
        <div id="page-wrapper" class="gray-bg">

            {{> topNavbar }}

            {{> Template.dynamic template=main}}

            {{> autoformModals}}

            <!-- Footer -->
            {{> Template.dynamic template=footer}}
        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

</template>