<template name="taskItemDetails">
    {{#if Template.subscriptionsReady}}
        <ul class="list-group clear-list">
            <li class="list-group-item fist-item row">
                <div class="col-md-3">
                    <!-- Paste Filled icon by Icons8 -->
                    <strong>
                        <img src="/icons/paste_filled-25.png" width="16">
                        {{_ "common.description"}}:
                    </strong>
                </div>
                <div class="col-md-9">
                    {{> editableText doc=this options=taskDescription }}
                </div>
            </li>
            {{#autoForm id="afUpdateTaskDetails" type="update" collection="Tasks" autosave=true
                doc=this template="bootstrap3-inline" }}
                <li class="list-group-item row">
                    <div class="col-md-3">
                        <strong>
                            <!-- Date To icon by Icons8 -->
                            <img src="/icons/date_to-26.png" width="18">
                            {{_ "task_comments_modal.due_date"}}:
                        </strong>
                    </div>
                    <div class="col-md-9 text-center">
                        {{> afQuickField name="due_date" label=false type="bootstrap-datetimepicker"}}
                    </div>
                </li>
            {{/autoForm}}
            <li class="list-group-item row">
                <div class="col-md-3">
                    <strong>
                        <!-- Contact Card icon by Icons8 -->
                        <img src="/icons/contact_card2-24.png" width="20">
                        {{_ "common.contact"}}:
                    </strong>
                </div>
                <div class="col-md-9">
                    <!--{{> afQuickField name="need_assistance_id" uniPlaceholder="בחר עמית מהרשימה..." label=false type="universe-select"}} -->
                    <a class="text-center text-info" href="{{pathFor '/contacts/'}}">
                        {{contactName need_assistance_id}}
                    </a>
                </div>
            </li>
            <li class="list-group-item row">
                <div class="col-md-3">
                    <strong>
                        <!-- Contact Card icon by Icons8 -->
                        <img src="/icons/groups-26.png" width="20">
                        {{_ "task_comments_modal.team_name"}}:
                    </strong>
                </div>
                <div class="col-md-9">
                    <a class="text-info" href="{{pathFor '/team/:teamId' teamId=team_id}}">
                        {{teamName team_id}}
                    </a>
                    <!--{{> afQuickField name="team_id" label=false uniPlaceholder="בחר צוות .." type="universe-select"}}-->
                </div>
            </li>

            <li class="list-group-item row">
                <div class="col-md-3">
                    <strong>
                        <!-- Add User Male icon by Icons8 -->
                        <img src="/icons/add_user-26.png" width="16">
                        {{_ "common.created_by"}} :
                    </strong>
                </div>
                <div class="col-md-9">
                    <a class="text-center text-info" href="{{pathFor '/profile/:userId' userId=created_by}}">
                        {{userName created_by}}
                    </a>
                    <div class="pull-right flip">
                        <i class="fa fa-clock-o text-muted" aria-hidden="true"></i>
                        {{moCalendar created_at}}
                    </div>
                </div>
            </li>
            {{#if updated_at}}
            <li class="list-group-item ngRow row">
                <div class="col-md-3">
                    <strong>
                        <!-- Edit User Male icon by Icons8 -->
                        <img src="/icons/edit_user-26.png" width="16">
                        {{_ "common.updated_by"}} :
                    </strong>
                </div>
                <div class="col-md-9">
                    <a class="text-center text-info" href="{{pathFor '/profile/:userId' userId=updated_by}}">
                        {{userName updated_at}}
                    </a>
                    <div class="pull-right flip">
                        <i class="fa fa-clock-o text-muted" aria-hidden="true"></i>
                        {{moCalendar updated_at}}
                    </div>
                </div>
            </li>
            {{/if}}
        </ul>
    {{/if}}
</template>