<template name="profile">
    {{#if Template.subscriptionsReady}}
        {{> pageHeading category=categoryTitle title=userTitle }}

        <div class="wrapper wrapper-content animated fadeInRight">
            {{> profileDetails user=user}}
        </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>