<template name="board">
    <div class="widget white-bg text-center border-bottom-info">
        <div class="row">
            <a href="{{pathFor '/team/:teamId' teamId=_id}}" class="btn pull-left flip">
                <h4>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {{name}}
                </h4>
            </a>
            <a href="#" class="btn pull-right flip">
                <h4>
                    <i class="fa fa-map"></i>
                    {{location.fullAddress}}
                </h4>
            </a>
            <a href="{{pathFor route='/kanban/:teamId' teamId=_id}}">
                <h3><i class="fa fa-tasks" aria-hidden="true"></i> {{_ "boards_page.team_title"}} {{name}}</h3>
                <h4>
                    <i class="fa fa-info" aria-hidden="true"></i>
                    <span> {{description}} </span>
                </h4>
            </a>
        </div>
    </div>
</template>