<template name="pageNotFound">
    <div class="wrapper">
        <div class="row text-center p-xl">
            <div class="col-lg-4">
                <img src="//res.cloudinary.com/dse3cdgvi/image/upload/v1464628475/this-way-718660_1280_aitarg.png" class="img-responsive" />
            </div>
            <div class="col-lg-4">
                <h1>{{_ "page_not_found.header" }}</h1>
                <br>
                <h4>
                    {{_ "page_not_found.small_header" }}
                </h4>
                <br>
                <a href="{{pathFor route='home'}}" class="btn btn-primary">{{_ "page_not_found.btn_title"}}</a>
            </div>
            <div class="col-lg-4">
                <img src="//res.cloudinary.com/dse3cdgvi/image/upload/v1464627947/WikiFun_Police_Smiley_yks1i2.png" class="img-responsive" />
            </div>
        </div>

    </div>
</template>
