<template name="topNavbar">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-danger " href="#">
                    <i class="fa fa-bars"></i>
                </a>
                <!--<form role="search" class="navbar-form-custom" action="search_results">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" placeholder="Search for something..." class="form-control" name="top-search"-->
                               <!--id="top-search">-->
                    <!--</div>-->
                <!--</form>-->
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li dropdown="" class="language dropdown">
                    {{> langToggle}}
                </li>
                <li>
                    {{#if currentUser}}
                        <a href="{{pathFor '/sign-in'}}" class="js-logout">
                            {{_ "top_navbar.logout"}} <i class="fa fa-sign-out"></i>
                        </a>
                    {{else}}
                        <a href="{{pathFor '/sign-in'}}">
                            {{_ 'top_navbar.login'}} <i class="fa fa-sign-in"></i>
                        </a>
                    {{/if}}
                </li>
            </ul>

        </nav>
    </div>
</template>