<template name="home">
    <div class="wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <div id="site-logo">
                        <img alt="logo HelpFull" src="/img/small-logo.png">
                    </div>
                    <h1>
                        {{_ "home_page.header"}}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</template>
