<template name="memberCard">
        <div class="col-lg-3">
            <div class="contact-box center-version {{memberBorder}}">
                    <div class="ibox-title text-center">
                        {{{ memberTitle }}}
                        {{> editModal collection = 'Users' btnClass='btn-top-header pull-left flip' doc=memberId }}
                    </div>
                {{#with user memberId}}
                    <a href="{{pathFor '/profile/:userId' userId=_id}}">
                        <img alt="user comment" class="img-circle" src="{{profile.picture}}" />
                        <h3> {{ profile.name }} </h3>
                    </a>
                    <div class="contact-box-footer">
                        <a href="" class="btn pull-left"><i class="fa fa-comment"></i></a>
                        <a class="btn"><i class="fa fa-envelope"></i></a>
                        <a class="btn pull-right"><i class="fa fa-phone"></i></a>
                    </div>
                {{/with}}
            </div>
        </div>
</template>