<template name="team">
    {{#if Template.subscriptionsReady}}

        {{#with currentTeam}}
        {{> pageHeading category=teamsCategory title=name }}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    {{#if leader }}
                        {{>memberCard memberId=leader memberTitle=leaderTitle memberBorder=leaderBorder }}
                    {{/if}}

                    {{#each member in withoutLeader members leader}}
                        {{>memberCard memberId=member memberTitle=memberTitle memberBorder=memberBorder }}
                    {{/each}}
                </div>
            </div>
        {{/with}}

    {{else}}
        {{> loading}}
    {{/if}}
</template>