/* ghostClass */

/* Custom ghost in this list */
.drag-list .sortable-ghost {
    position: absolute;
    top: -99999px;
    left: -99999px;
    background-color: #20b3a7;
    opacity: 1;
}

.drag-task-item {
    cursor: move;
}
