<template name="kanbanListItem">
    {{#if Template.subscriptionsReady}}
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title text-center {{bordor_top}}">
                <h5>
                    <span class="privacy">
                        <i class="fa {{icon}}"></i>
                    </span>
                    <span class="title-wrapper">{{title}}</span>
                </h5>
                <span class="badge {{badge_color}} pull-right flip count-list">{{countTasks _id}}</span>
            </div>

            <div class="ibox-content">
                <ul id="{{_id}}" class=" {{#if is_done_list}} agile-done-list {{else}} agile-list {{/if}} drag-list">
                    {{#each tasks _id}}
                        {{> task }}
                    {{/each}}
                </ul>
            </div>
            {{> addItemBar listId=_id}}
        </div>
    </div>
    {{/if}}
</template>