<template name="langToggle">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{_ 'top_navbar.language'}}</a>
    <ul class="dropdown-menu animated fadeInDown m-t-xs">
        <li class="lang js-lang-he"><a><img src="/img/flags/16/Israel.png"/> עברית </a></li>
        <li class="lang js-lang-en"><a><img src="/img/flags/16/United-States.png"/> English </a></li>
    </ul>
</template>