<template name="teams">
    {{#if Template.subscriptionsReady}}
    {{> pageHeading title=teamsTitle  floatingBtn=createTeam }}

    <div class="wrapper-content animated fadeInRight">
        <div class="row">
        {{#each teams}}
            {{> teamCard }}
        {{/each}}
        </div>
    </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>