<template name="teamCard">
    {{#if Template.subscriptionsReady}}
        <div class="col-lg-4">
            <div class="ibox border-bottom-success">
                <div class="ibox-title">
                    {{#if active}}
                        <span class="text-center label label-primary">{{_ "teams_page.is_active"}}</span>
                    {{/if}}
                    {{> deleteModal collection = 'Teams' btnClass='btn-top-header pull-left' doc = _id }}
                    {{> editModal collection = 'Teams' btnClass='btn-top-header pull-left' doc = _id }}
                </div>
                    <div class="ibox-content text-center">
                        <h2 class="text-center">{{name}}</h2>
                        <div class="team-members">
                            <a href="{{pathFor '/profile/:userId' userId=leader}}">
                                <img alt="member" class="img-circle team-leader" src="{{userPicture leader}}">
                            </a>

                            {{#each withoutLeader members leader}}
                                <a href="{{pathFor '/profile/:userId' userId=this}}">
                                    <img alt="member" class="img-circle" src="{{userPicture this}}">
                                </a>
                            {{/each}}
                        </div>
                        <a>
                            <h3>{{_ "teams_page.description"}}</h3>
                            <i class="fa fa-info" aria-hidden="true"></i>
                            <span>{{description}}</span>
                        </a>
                        {{#if location}}
                        <a>
                            <h3>{{_ "teams_page.location"}}</h3>
                            <span>{{location.fullAddress}}</span>
                        </a>
                        {{/if}}
                        <a href="{{pathFor route='/kanban/:teamId' teamId=_id}}" >
                            <h3>
                                {{_ "teams_page.tasks_title"}}
                            </h3>
                            <span>{{teamTask this}}</span>
                            <div class="progress progress-mini">
                                <div style="width: {{teamTaskPercent this}}%;" class="progress-bar"></div>
                            </div>
                        </a>
                    </div>
                    <div class="ibox-footer text-center">
                        <a class="btn pull-left flip"><i class="fa fa-map" aria-hidden="true"></i></a>
                        <a class="btn" href="{{pathFor route='/kanban/:teamId' teamId=_id}}" >
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                        </a>
                        <a href="{{pathFor '/team/:teamId' teamId=_id}}" class="btn pull-right flip">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </a>
                    </div>
            </div>
        </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>