<template name="addTaskComments">

    <div class="add-comment-section">
        {{#autoForm collection="Comments" id="insertCommentsForm" type="insert" }}
            <strong class="pull-left flip">{{_ "task_comments_modal.add_comments"}}</strong>
            {{> afQuickField name="text" rows=2 placeholder=textPlaceholder }}
            {{> afQuickField name="task_id" value=taskId type='hidden'}}
            <div>
                <button type="submit" class="pull-left flip btn btn-primary">
                    <i class="fa fa-plus"></i> {{_ "common.add_save_btn"}}
                </button>
            </div>
        {{/autoForm}}
    </div>
</template>