<template name="profileDetails">
    {{# if subsReady}}
        <div class="col-lg-4">
            {{#with user}}
                <div class="widget-head-color-box p-m bg-info text-center">
                    {{> editModal collection = 'Users' btnClass='btn-top-header pull-left flip' doc = _id }}
                    <!--<span>{{_ "profile_page.edit_title"}}</span>-->
                    {{#if status.online}}
                        <span class="pull-right flip label label-primary">{{_ "profile_page.online"}}</span>
                    {{/if}}
                    <img src="{{profile.picture}}" class="img-circle avatar circle-border" alt="profile">
                </div>
                <div class="widget-text-box border-bottom-info">
                    <h2 class="text-center">{{profile.name}}</h2>
                    <ul class="list-unstyled text-center">
                        <li>
                            <h3>
                                <span class="fa fa-pull-right fa-envelope m-l-lg"></span>
                                <span>{{userEmail this}}</span>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <span class="fa fa-pull-right m-l-lg">📱</span>
                                <span>{{profile.mobile}}</span>
                            </h3>
                        </li>

                        <li>
                        {{#if profile.phone }}
                            <h3>
                                <span class="fa fa-pull-right fa-phone m-l-lg"></span>
                                <span>{{profile.phone}}</span>
                            </h3>
                        {{/if}}
                        </li>
                    </ul>
                </div>
            {{/with}}
        </div>
    {{/if}}
</template>



