<template name="taskComments">
    {{#if Template.subscriptionsReady}}
        <div class="row text-center ngRow">
            <h3>
                <span class="badge badge-success {{badgeColor}} count-list"> {{countComments taskId}} </span>
                <span> {{_ "task_comments_modal.read_below_comments"}} </span>
            </h3>
        </div>
        <div id="vertical-timeline" class="vertical-container dark-timeline">

            {{#each currentComments taskId}}
                {{> taskCommentItem }}
            {{/each}}
        </div>
    {{/if}}
</template>