<template name="addItemBar">
    <form class="new-task input-group" id="{{listId}}">
        <input type="text" name="text" placeholder="{{_ "common.placeholder"}}"
               class="add-task-box input-sm form-control" />
        <span class="add-task-icon input-group-btn">
            <i class="fa fa-plus"></i>
        </span>
    </form>
</template>