
.new-task {
    text-align: center;
    background-color: transparent;
    border: 1px solid #e7eaec !important;
}

.add-task-box {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    border: 0;
    cursor: pointer;
    border-radius: 0;
    background: transparent !important;
}

.add-task-box:focus {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    -webkit-transition: width 0.8s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.8s, background 0.8s;
    transition: width 0.8s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.8s, background 0.8s;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: text;
    background: white !important;
    color: black;
}

.add-task-box:not(:focus) {
    border: 0;
    border-radius: 0;
}

.add-task-icon {
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    background-color: transparent;
    font-size: 1.2em;
    border: 0;
}