<template name="about">
	 {{> pageHeading title = aboutTitle }}

	<div class="wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center m-t-lg">
                    <div id="site-logo">
                        <img alt="logo HelpFull" src="/img/small-logo.png">
                    </div>
                    <h1>{{_ "about_page.header"}}</h1>
                    <h2>{{_ "about_page.text"}}</h2>
				</div>
			</div>
		</div>
	</div>
</template>