<template name="footer">
    <div class="footer text-center">
        <span id="site-logo">
            <img alt="logo HelpFull" src="/img/footer-logo.png">
        </span>
        <strong>{{_ "footer.copyright"}} &copy; 2016</strong>
    </div>
</template>