@font-face {
  font-family: "aduma-light";
  src: url(/font/aduma/aduma-light-webfont.woff);
}

@font-face {
  font-family: "aduma-medium";
  src: url(/font/aduma/aduma-medium-webfont.woff);
}

@font-face {
  font-family: "aduma-regular";
  src: url(/font/aduma/aduma-regular-webfont.woff);
}

@font-face {
  font-family: "aduma-bold";
  src: url(/font/aduma/aduma-bold-webfont.woff);
}

@font-face {
  font-family: "aduma-heavy";
  src: url(/font/aduma/aduma-heavy-webfont.woff);
}

@font-face {
  font-family: "almoni-regular";
  src: url(/font/almoni/almoni-tzar-aaa-regular.otf);
}

@font-face {
  font-family: "almoni-bold";
  src: url(/font/almoni/almoni-tzar-aaa-bold.otf);
}

@font-face {
  font-family: 'Assistant-Regular';
  src: url(/font/Assistant/Assistant-Regular.ttf);
}

@font-face {
  font-family: 'Assistant-SemiBold';
  src: url(/font/Assistant/Assistant-SemiBold.ttf);
}

body {
  font-size: 18px;
  font-family: 'Assistant-Regular', sans-serif !important;
}
b, strong {
  font-family: 'Assistant-SemiBold', sans-serif !important;
}

