<template name="myAtInput">
    <div class="form-group">
        <div class="input-group m-b-lg">
            <span class="input-group-addon">
                {{#if options.icon}}
                    {{options.icon}}
                {{/if}}
                {{#if options.faIcon}}
                    <i class="fa {{options.faIcon}}" aria-hidden="true"></i>
                {{/if}}
            </span>
            {{> Template.dynamic template=templateName}}
        </div>
    </div>
</template>