.at-input input {
    width: 100%;
    border: 1px inset #ccc;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.at-form {
    float: none;
    margin: auto;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
}
.at-form p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.at-title h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
}
.at-link.disabled {
    color: #444;
}
.at-signin-link {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}
.at-error,
.at-result {
    text-align: center;
}
.at-oauth {
    margin-top: 10px;
}
button.at-social-btn {
    display: block;
    width: 100%;
    margin: auto;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 16px;
}
button.at-social-btn i {
    float: left;
    width: 40px;
    font-size: 20px;
    margin-top: 1px;
    padding-right: 15px;
    padding-left: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.at-sep {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.at-sep:before,
.at-sep:after {
    display: block;
    content: " ";
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: absolute;
    top: 48%;
}
.at-sep:before {
    left: -60%;
}
.at-sep:after {
    right: -60%;
}
.at-input.validating * {
    cursor: progress;
}
.at-pwd-form > form {
    margin-top: 20px;
}
.at-pwd-form > form label {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
}
#at-btn {
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 2em;
    background-color: rgba(28, 132, 198, 0.8);
    color: white;
}
.at-signup-link {
    margin-top: 20px;
    margin-bottom: 30px;
}
.at-terms-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    font-weight: 400;
}
.has-error span {
    display: inline-block;
    position: absolute;
    color: #FFF;
    background: rgba(216,106,106,0.7);
    padding: 0.8em;
    z-index: 2;
    font-size: 1rem;
    border-radius: 0.5em;
    left: 40px;
    top: 20%;
}
.has-success span {
    display: inline-block;
    position: absolute;
    color: #000;
    background: rgba(170, 221, 119, 0.7);
    padding: 0.8em;
    z-index: 2;
    font-size: 0.9rem;
    border-radius: 0.5em;
    left: 15px;
    top: 25%;
}
.has-error span.fa-times {
    left: 15px;
    top: 25%;
}