/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.selectize-control.single {
  text-align: center;
}
.selectize-input {
  font-size: 14px;
  font-family: 'Assistant-SemiBold', sans-serif;
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: normal;
}

.editable-text:hover{
  background: gainsboro !important;
  -webkit-transition: width 0.8s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.8s, background 0.8s;
  transition: width 0.8s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.8s, background 0.8s;
  border: none;
  color: black;
  outline: none;
}

.editable-text{
  text-decoration: underline;
  //font-size: smaller;
  font-family: 'Assistant-SemiBold', sans-serif;
}


