<template name="editModal">
    {{#afModal classes="btn" collection=collection operation="update"
        doc=doc title = editTitle buttonContent= editBtn
        template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" }}
        <button type="button" class="{{btnClass}}">
            <i class="fa fa-pencil" style="color:darkgreen; "></i>
        </button>
    {{/afModal}}
</template>