<template name="modalLayout">
    <div class="modal inmodal" id="myModalLayout" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeInDown" data-backdrop="false">
                {{> Template.dynamic template=header}}
                <div class="modal-body">
                    {{> Template.dynamic template=main}}
                </div>
                <div class="modal-footer">
                    <!-- Footer -->
                    {{> Template.dynamic template=footer}}
                </div>
            </div>
        </div>
    </div>

</template>