<template name="requests">
    {{> pageHeading  title=requestsTitle floatingBtn=createRequest }}
    {{#if Template.subscriptionsReady}}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row project-list">
            <table class="table table-hover">
                {{> tabular table=TabularTables.requestsTable
                    class="table table-striped table-condensed" }}
            </table>
        </div>
    </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>