<template name="profileContact">
    <div class="tabs-container">
        <div class="tabs-right">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-info"><i class="fa fa-laptop"></i> Information</a></li>
                <li class=""><a data-toggle="tab" href="#tab-address"><i class="fa fa-desktop"></i> Address</a></li>
                <li class=""><a data-toggle="tab" href="#tab-extra"><i class="fa fa-database"></i> Extra</a></li>
            </ul>
            <div class="tab-content ">
                <div id="tab-info" class="tab-pane active">
                    <div class="panel-body">
                        {{> contactInfoTab doc=myDoc}}
                    </div>
                </div>
                <div id="tab-address" class="tab-pane ">
                    <div class="panel-body">
                        {{> contactAddressTab doc=myDoc}}
                    </div>
                </div>
                <div id="tab-extra" class="tab-pane">
                    <div class="panel-body">
                        {{> contactExtraFieldsTab doc=myDoc}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>