<template name="modalHeader">
    <div class="modal-header {{#if headerColorClass}} {{headerColorClass}} {{else}} blue-bg {{/if}} ">
        <a class="btn js-back close pull-left flip" href="{{#if backUrl}} {{pathFor backUrl}} {{else}} {{pathFor '/home'}} {{/if}} ">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <strong>
            {{title}}
            {{{label}}}
        </strong>
    </div>
</template>